extends layout

block content
    from.addorder(method='post', name='requirepin', enctype="multipart/form-data")
      h3= "Подтвердите действие"
      .form-group
        label(for='yourpin')
        input(type='password',name='yourpin',placeholder='ПИН', required='required').form-control
      .form-group
        button.btn.btn-success.addorder-submit(type='submit') Подтвердить
    main.lustran-main
      .lustran-container
        .new-order-wrapper
          h2 Добавление нового заказа
          .new-order
            .new-order-header
              .new-order-info
                .new-order-info-row
                  | ID заказа&nbsp
                  span.new-order-id= ordernumber
                  | &nbspот&nbsp
                  span.new-order-date= getReadebleDate(new Date())
                .new-order-info-row
                  | Название магазина: 
                  span.new-order-shop= location.fullname
                .new-order-info-row
                  | Адрес магазина: 
                  span.new-order-shop= location.adres
                //- .new-order-info-row
                //-   span.new-order-person ФИО сотрудника
                .new-order-info-row
                  | Порядковай номер&nbsp
                  span.new-order-iter= ordernumber
              .new-order-barcode
            .new-order-body
              form.new-order-form#neworderform(action='')
                //- .new-row.add(data-toggle='add-row')
                //-   i.fa.fa-plus-circle(aria-hidden='true')
                //-   | &nbspДобавить товар
                .row
                  fieldset.col-sm-1
                    label(for='') Артикул
                  fieldset.col-sm-4
                    label(for='') Наименование товара
                  fieldset.col-sm-2
                    label(for='') Количество товара
                  fieldset.col-sm-2
                    label(for='') Ориентировочная дата поставки
                  fieldset.col-sm-1
                    label(for='') Предоплата
                .new-order-form-row.good-item.row
                  fieldset.col-sm-1
                    input.form-control(type='text', name='vencode')
                  fieldset.col-sm-4
                    input.form-control(type='text', name='name')
                  fieldset.col-sm-2
                    input.form-control(type='text', value='1', data-input='number', , name='number')
                  fieldset.col-sm-2
                    input.form-control(type='date', data-input='date', , name='indicativedate')
                  fieldset.col-sm-1
                    input.form-control(type='text', data-input='number', name='prepayment')                  
                  //- .new-row.add(data-toggle='add-row')
                  //-   i.fa.fa-plus-circle(aria-hidden='true')
                  //-   | &nbspДобавить товар
                .new-row.add(data-toggle='add-row')
                  i.fa.fa-plus-circle(aria-hidden='true')
                  | &nbspДобавить товар
                .new-order-form-row.bottom.row
                  .col-sm-4
                    fieldset
                      label(for='')
                        | ФИО заказчика
                        span *
                      input.form-control(type='text', required, name='customername')
                    fieldset
                      label(for='')
                        | Телефон заказчика
                        span *
                      input.form-control(type='text', data-input='phone', required, name='customerphone')
                  fieldset.col-sm-6.col-sm-offset-1
                    label(for='') Комментарий
                    textarea.form-control(id='', cols='30', rows='5', name='comment')
                .btn-wrapper
                  input.btn.btn-success.btn-lg.setorder-button(type='submit', value='Сохранить и распечатать')
