extends layout

block content
    //- script.
    main.lustran-main
      .lustran-container
        .check-in-wrapper
          .check-in-inner
            // Ввести пин
            .pin-wrapper
              h2 Отметка
              .pin.check-pin
                label(for='') Введите свой пин-код
                .input-group
                  input.form-control(type='password', name='yourpin', autofocus)
                  span.input-group-btn
                    button.btn.btn-pin(type='button') ОК
                // /input-group
            // Приветствие
            .wellcome-wrapper
              .wellcome
                i.fa.fa-smile-o(aria-hidden='true')
                .wellcome-top
                  | Доброе&nbsp
                  span.day-time утро
                  | ,
                  br
                  span.name Иванов Иван Иванович
                .wellcome-bottom Вы успешно отметились и можете приступать пользоваться системой.
                br
                button#wellcomeok.btn.btn-success.wellcome-ok OK
            // Отметившиеся
            .checking-in-wrapper
              h2 Отметившиеся
              .checking-in
                .checking-in-body
                  - if (checks.length > 0)
                    .checking-in-period
                      - var nowDate = new Date()
                      - var nowdate = getReadebleDate(nowDate);
                      - var dayAliasArr = ['Воскресенье','Понедельник','Вторник','Среда','Четверг','Пятница','Суббота'] 
                      .period-top= nowdate + ', ' + dayAliasArr[nowDate.getDay()]
                      ul.checking-in-list
                        li
                        - for (var i = 0; i < checks.length; i++)
                          - if (checks[i].late == 0)
                            li.checking-in-list-item
                              span.checking-in-date= getReadebleDateTime(checks[i].createdAt)
                              // 11.12.16
                              //- | &nbsp
                              //- span.checking-in-time.sep-dot 11:20
                              span.checking-in-location.sep-dot= checks[i].location.alias
                              //- Юбилейный
                              span.checking-in-person= checks[i].user.name
                              span= checks[i].io == 0 ? 'Пришёл' : 'Ушёл'
                              //-  Иванов Иван Иванович
                          - else
                            li.checking-in-list-item.lateness
                              span.checking-in-date= getReadebleDateIrkTime(checks[i].createdAt)
                              // 11.12.16
                              //- | &nbsp
                              //- span.checking-in-time.sep-dot 11:20
                              span.checking-in-location.sep-dot= checks[i].location.alias
                              //- Юбилейный
                              span.checking-in-person= checks[i].user.name
                              span= checks[i].io == 0 ? 'Пришёл' : 'Ушёл'
                              //-  Иванов Иван Иванович
                        //- li.checking-in-list-item
                        //-   span.checking-in-date 11.12.16
                        //-   | &nbsp
                        //-   span.checking-in-time.sep-dot 11:20
                        //-   span.checking-in-location.sep-dot Юбилейный
                        //-   span.checking-in-person Иванов Иван Иванович
                        //- // Опоздавший класс lateness
                        //- li.checking-in-list-item.lateness
                        //-   span.checking-in-date 11.12.16
                        //-   | &nbsp
                        //-   span.checking-in-time.sep-dot 11:20
                        //-   span.checking-in-location.sep-dot Юбилейный
                        //-   span.checking-in-person Иванов Иван Иванович
                        //-   span.badge.lateness опоздание
                  - else
                    ul.checking-in-list
                      li
                      p Отметок за вчера и сегодня пока нет
                  //- .checking-in-period
                  //-   .period-top 16 ноября, четверг
                  //-   ul.checking-in-list
                  //-     li.checking-in-list-item
                  //-       span.checking-in-date 11.12.16
                  //-       | &nbsp
                  //-       span.checking-in-time.sep-dot 11:20
                  //-       span.checking-in-location.sep-dot Юбилейный
                  //-       span.checking-in-person Иванов Иван Иванович
                  //-     li.checking-in-list-item
                  //-       span.checking-in-date 11.12.16
                  //-       | &nbsp
                  //-       span.checking-in-time.sep-dot 11:20
                  //-       span.checking-in-location.sep-dot Юбилейный
                  //-       span.checking-in-person Иванов Иван Иванович
                  //-     // Опоздавший класс lateness
                  //-     li.checking-in-list-item.lateness
                  //-       span.checking-in-date 11.12.16
                  //-       | &nbsp
                  //-       span.checking-in-time.sep-dot 11:20
                  //-       span.checking-in-location.sep-dot Юбилейный
                  //-       span.checking-in-person Иванов Иван Иванович
                  //-       span.badge.lateness опоздание
                  .btn.btn-success.export-checks Экспорт
                .checking-in-footer
                  form.form-horizontal
                    .form-group
                      label.control-label(for='') с
                      .col-sm-3
                        input.form-control(type='date', data-input='date', name='startdate')
                      label.control-label(for='') по
                      .col-sm-3
                        input.form-control(type='date', data-input='date', name='enddate')
                      .col-sm-3
                        button.btn.btn-success.showcheckorder(type='submit') Показать
                      .col-sm-3
                        label.control-label.check(for='')
                          input(type='checkbox', name='latesonly')
                          | &nbspТолько опоздания
