extends layout

block content
  .container.canter-content
    h1= title
    .addloc.btn.btn-default Добавить новоe
    
    form.addlocform(method='post', name='addlocform', enctype="multipart/form-data")
      h3= "Добавить место"
      .form-group
        label(for='name') Название
        input(type='text',name='fullname',placeholder='Полное название магазина',required).form-control
      .form-group
        label(for='name') Краткое название
        input(type='text',name='alias',placeholder='Краткое название магазина',required).form-control
      .form-group
        label(for='name') Адрес
        input(type='text',name='adres',placeholder='Адрес магазина',required).form-control
      .form-group
        label(for='name') Время открытия
        input(type='time',name='opentime',required).form-control
      .form-group
        label(for='name') Время закрытия
        input(type='time',name='closetime',required).form-control
      //- .form-group
      //-   label(for='name') Пароль
      //-   input(type='password',name='password',placeholder='Пароль для магазина',required).form-control
      .form-group
        label(for='yourpin') Ваш пин
        input(type='password',name='yourpin',placeholder='Ваш пин',required).form-control
      button.btn.btn-success.addloc-submit(type='submit') Добавить
      | &nbsp;
      button.btn.btn-danger.addloc-cancel Отмена
    
    from.setlocpin(method='post', name='requirepin', enctype="multipart/form-data")
      h3= "Подтвердите действие"
      .form-group
        label(for='yourpin')
        input(type='password',name='yourpin',placeholder='ПИН', required='required', autofocus).form-control
      .form-group
        button.btn.btn-success.setlocpin-submit(type='submit') Подтвердить
    
    from.editlocpin(method='post', name='requirepin', enctype="multipart/form-data")
      h3= "Подтвердите действие"
      .form-group
        label(for='name') Название
        input(type='text',name='fullname',placeholder='Полное название магазина',required).form-control
      .form-group
        label(for='name') Краткое название
        input(type='text',name='alias',placeholder='Краткое название магазина',required).form-control
      .form-group
        label(for='name') Адрес
        input(type='text',name='adres',placeholder='Адрес магазина',required).form-control
      .form-group
        label(for='name') Время открытия
        input(type='time',name='opentime',required).form-control
      .form-group
        label(for='name') Время закрытия
        input(type='time',name='closetime',required).form-control
      //- .form-group
      //-   label(for='name') Пароль
      //-   input(type='password',name='password',placeholder='Пароль для магазина',required).form-control
      .form-group
        label(for='yourpin') Ваш пин
        input(type='password',name='yourpin',placeholder='Ваш пин',required).form-control
      .form-group
        button.btn.btn-success.editlocpin-submit(type='submit') Подтвердить
    
    br
    - if (locations.length > 0)
      table.table.locations-table
        thead
          tr
            th Название
            th Часы работы
            th
            th
        tbody
          - for (var i = 0; i < locations.length; i++)
            tr(id= locations[i].id)
              td= locations[i].fullname
              td= 'c ' + locations[i].opentime + ' по ' + locations[i].closetime
              td 
                .btn.btn-success.choose-location(data-title=  locations[i].id) Выбрать
              td 
                //- .btn.btn-danger.delete-location(data-title=  locations[i].id) Удалить
                .btn.btn-default.edit-location(data-title=  locations[i].id) Редактировать
    - else
      table.table.locations-table
        thead
          tr
            th Название
            th Часы работы
            th
            th
        tbody
      .panel.panel-default
        .panel-body Мест пока нет, но вы можете их добавить
