extends layout

block content
      main.lustran-main
        //- script(type='text/javascript').
        - var now = new Date();
        - function getDateReadeble(date){
          - var thisdate = new Date(date)
          - var readebleTime;//1998-02-03 22:23:00
          - var year = thisdate.getFullYear()
          - readebleTime = ('00' + thisdate.getDate()).slice(-2) +'.'+ ('00' + (thisdate.getMonth()+1)).slice(-2) +'.'+ year
          - return readebleTime;
          - }
        form.remove-good(action="#" method="method")
          .form-group
            label(for='comment') Подтвердите действие
            textarea.form-control(name='comment' placeholder='Комментарий')
          .form-group
            label(for='yourpin') Подтвердите действие
            input.form-control(type='password', name='yourpin' placeholder='ПИН')
          input(type="hidden", name='goodid')
          .form-group
            input.btn.btn-success(type='submit', name='name' placeholder='holder')
        nav.navbar.lustran-navbar.navbar-static-top
          .lustran-container-nav
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                //- li.filter-menu
                //-   a.dropdown-toggle.lustran-dropdown(href='#', role='button', aria-haspopup='true', aria-expanded='false')
                //-     | Фильтр&nbsp
                //-     span.caret
                //-   ul.dropdown-menu.lustran-dropdown-menu.filter-menu-dropdown
                //-     li
                //-       a(href='#') ID заказа
                //-     li
                //-       a(href='#') Наименование
                //-     li
                //-       a(href='#') Артикул
                //-     li
                //-       a(href='#') Ориентировочная дата
                li.status-menu
                  a.lustran-dropdown(href='#', role='button')
                    | Фильтр&nbsp
                    span.caret
                  .status-menu-dropdown
                    form(name='filter', method="GET")
                      .dropdown
                        .form-group
                          label(for='processed') Обработка
                          select.form-control(name='processed', id='processed')
                            option(value='')
                            option(value='1') В обработке
                            option(value='0') Не обработан
                            option(value='2') Обработан
                      .dropdown
                        .form-group
                          label(for='oredered') Заказ
                          select.form-control(name='oredered', id='oredered')
                            option(value='')
                            option(value='1') Заказан
                            option(value='0') Не заказан
                      .dropdown
                        .form-group
                          label(for='postponed') Отгрузка
                          select.form-control(name='postponed', id='postponed')
                            option(value='')
                            option(value='1') Отложен
                            option(value='0') Не отложен
                            option(value='2') Есть дефект
                      .dropdown
                        .form-group
                          label(for='callstatus') Дозвон
                          select.form-control(name='callstatus', id='callstatus')
                            option(value='')
                            option(value='1') Дозвонились
                            option(value='0') Не звонили
                            option(value='2') Не дозвонились
                      .dropdown
                        .form-group
                          label(for='issued') Выдача
                          select.form-control(name='issued', id='issued')
                            option(value='')
                            option(value='1') Выдан
                            option(value='0') Не выдан
                      .status-menu-check
                        .checkbox
                          label(for='spicdate')= "Уточненная дата"
                          input(type='checkbox' id='spicdate', name='spicdate')
                        .checkbox.archive
                          label(for='archive')= "Архивные заказы"
                          input(type='checkbox' id='archive', name='archive')
                      .dropdown.archive-period
                        .form-group
                          label(for='issued') Начало периода
                          input.form-control(name='startperiod', type='date', id='startperiod')
                      .dropdown.archive-period
                        .form-group
                          label(for='issued') Конец периода
                          input.form-control(name='endperiod', type='date', id='endperiod')
                      hr
                      .dropdown
                        .form-group
                          input.btn.btn-default(type="submit", value="Применить")
                li.resetfiltr
                  a(href='/orders') Сбросить фильтр
                //- li
                //-   a(href="#down") trd
              form.navbar-form.navbar-left.lustran-search-form
                .form-group
                  input.form-control(type='text', placeholder='Поиск...', name='search')
              form.navbar-form.navbar-left.lustran-search-form
                .form-group
                  input.form-control(type='text', placeholder='Телефон...', name='tel')
              ul.nav.navbar-nav.navbar-right
                li.navbar-text= "Заказов "
                  span.badge.badge-pur-light.orderscount= orderscount
                li.navbar-text= "Товаров "
                  span.badge.badge-pur-light.goodcount= goodcount
                li.navbar-text= "В обработке "
                  span.badge.badge-pur-light.ordersproc= ordersproc
                li.navbar-text= "Выдано "
                  span.badge.badge-pur-light.ordersissued= ordersissued
                li.navbar-text= "Дефект "
                  span.badge.badge-pur-light.ordersdef= ordersdef
        .lustran-container
          .history
            table.table
              thead
                tr
                  th Дата
                  th Пользователь
                  th Место
                  th Присвоеный статус
                  th Комментарий
              tbody
            form.addcomment.col-sm-6.col-sm-offset-3(action="/orders/addcomment" method="POST")
              .form-group
                label(for='comment') Комментарий
                textarea.form-control(name='comment', placeholder='Комментарий')
              input(type='hidden',name='goodid')
              .form-group
                label(for='yourpin') Пин
                input.form-control(type='password', name='yourpin', placeholder='ПИН', autofocus)
              .form-group
                input.btn.btn-success.form-control.addcomment-submit(type='submit')
          // Заказ
          - if (orders.length > 0)
            -for (var i=0;i<orders.length;i++)
              article.order
                header.order-header
                  .order-id
                    | заказ
                    span= orders[i].number
                  //- a(href='/addorder/order-3').order-basket= orders[i].goods.length
                  a.btn.btn-sm.btn-success(href='/orders/order-'+orders[i].id, target='_blanket')
                    b= 'ОБЗОР'
                  a.btn.btn-sm.btn-success(href='/addorder/order-'+orders[i].id, target='_blanket')
                    b= 'БЛАНК'
                    //- открыть
                    //- i.fa.fa-plus-circle(aria-hidden='true')
                section.order-body
                  ul.order-list
                    - if (orders[i].goods)
                      - for (var j=0;j<orders[i].goods.length;j++)
                        - var danger
                        - if (orders[i].goods[j].postponed.statusval == 2)
                          - danger = 'status-danger'
                        - else
                          - danger = ''
                        - if (orders[i].goods[j].reject == 1)
                          - danger += " close-good"
                        - if (orders[i].goods[j].reject == 0 && orders[i].goods[j].active == 0)
                          - danger += " end-good"
                        li.order-list-item(class=danger, data-title=orders[i].goods[j].id)
                          // удаленный заказ staus-removed
                          header.order-list-item-header
                            span.badge.badge-pur= j+1
                            span.order-date.sep-dot= getReadebleDate(orders[i].goods[j].createdAt)
                            span.order-name.sep-dot= orders[i].goods[j].name
                            span.order-count.sep-dot
                              i= orders[i].goods[j].num
                              |  шт
                            - var inddate = new Date(orders[i].goods[j].inddate)
                            - var spicdate = new Date(orders[i].goods[j].spicdate.statusval)
                            - var now = new Date()
                            - if ((spicdate.getTime() > inddate.getTime() || now.getTime() > inddate.getTime()) && orders[i].goods[j].postponed.statusval != 1)
                              span.order-float-date.red-text= getDateReadeble(orders[i].goods[j].inddate)
                            - else
                              span.order-float-date= getDateReadeble(orders[i].goods[j].inddate)
                            .btn.btn-success.btn-xs.gethistory( data-title=orders[i].goods[j].id) История действий
                            a.remove-order-status(href='#', data-title=orders[i].goods[j].id)
                          .container-fluid
                            ul.order-status-list.row
                              li.col-sm-2
                                - if (orders[i].goods[j].processed.statusval == 0)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].processed.alias
                                      span.status-date= getDateReadeble(orders[i].goods[j].processed.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].processed.user.name
                                  a.order-status-edit.processed(href='#', data-title= orders[i].goods[j].id)
                                  .action.processed-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(new Date(orders[i].goods[j].processed.createdAt))
                                          | &nbsp
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group
                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              select.form-control(name='status')
                                                option(selected='', value='1') В обработке
                                                option(value='0') Не обработан
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                              li.col-sm-2
                                - if (orders[i].goods[j].spicdate.statusval == null)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].spicdate.statusval == null ? "--.--.--" : getDateReadeble(orders[i].goods[j].spicdate.statusval)
                                      span.status-date= getDateReadeble(orders[i].goods[j].spicdate.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].spicdate.user.name
                                  a.order-status-edit.spicdate(href='#', data-title= orders[i].goods[j].id)
                                  .action.spicdate-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(now)
                                          | &nbsp
                                          //- span.action-time 12.12.16
                                        //- .new-order-info-row
                                        //-   | Изменения в заказе:&nbsp
                                        //-   span.action-order 0001
                                        //- .new-order-info-row
                                        //-   | Товар:&nbsp
                                        //-   span.action-shop Название товара
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group
                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              input.form-control(name='status', type='date')
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                              li.col-sm-2
                                - if (orders[i].goods[j].ordered.statusval == 0)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].ordered.alias
                                      span.status-date= getDateReadeble(orders[i].goods[j].ordered.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].ordered.user.name
                                  a.order-status-edit.ordered(href='#', data-title= orders[i].goods[j].id)
                                  .action.ordered-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(now)
                                          | &nbsp
                                          //- span.action-time 12.12.16
                                        //- .new-order-info-row
                                        //-   | Изменения в заказе:&nbsp
                                        //-   span.action-order 0001
                                        //- .new-order-info-row
                                        //-   | Товар:&nbsp
                                        //-   span.action-shop Название товара
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group
                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              select.form-control(name='status')
                                                option(value='0') Не заказан
                                                option(selected='', value='1') Заказан
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                              li.col-sm-2
                                - if (orders[i].goods[j].postponed.statusval == 0 || orders[i].goods[j].postponed.statusval == 2)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].postponed.alias
                                      span.status-date= getDateReadeble(orders[i].goods[j].postponed.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].postponed.user.name
                                  a.order-status-edit.postponed(href='#', data-title= orders[i].goods[j].id)
                                  .action.postponed-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(now)
                                          | &nbsp
                                          //- span.action-time 12.12.16
                                        //- .new-order-info-row
                                        //-   | Изменения в заказе:&nbsp
                                        //-   span.action-order 0001
                                        //- .new-order-info-row
                                        //-   | Товар:&nbsp
                                        //-   span.action-shop Название товара
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group
                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              select.form-control(name='status')
                                                option(value='0') Не отложен
                                                option(selected='', value='1') Проверен и отложен
                                                option(value='2') Есть дефект
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                              li.col-sm-2
                                - if (orders[i].goods[j].callstatus.statusval == 0 || orders[i].goods[j].callstatus.statusval == 2)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].callstatus.alias
                                      span.status-date= getDateReadeble(orders[i].goods[j].callstatus.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].callstatus.user.name
                                  a.order-status-edit.callstatus(href='#', data-title= orders[i].goods[j].id)
                                  .action.callstatus-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(now)
                                          | &nbsp
                                          //- span.action-time 12.12.16
                                        //- .new-order-info-row
                                        //-   | Изменения в заказе:&nbsp
                                        //-   span.action-order 0001
                                        //- .new-order-info-row
                                        //-   | Товар:&nbsp
                                        //-   span.action-shop Название товара
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group
                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              select.form-control(name='status')
                                                option(value='0') Не звонили
                                                option(selected='', value='1') Дозвон
                                                option(value='2') Не дозвон
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                              li.col-sm-2
                                - if (orders[i].goods[j].issued.statusval == 0)
                                  - goodstatus = 'status-danger'
                                - else
                                  - goodstatus = ''
                                .order-status(class=goodstatus)
                                  .order-status-body
                                    .status-top
                                      span.status= orders[i].goods[j].issued.alias
                                      span.status-date= getDateReadeble(orders[i].goods[j].issued.createdAt)
                                    .status-bottom
                                      span= orders[i].goods[j].issued.user.name
                                  a.order-status-edit.issued(href='#', data-title= orders[i].goods[j].id)
                                  .action.issued-action
                                    .action-header
                                      .action-info
                                        .new-order-info-row
                                          -
                                          span.action-date= getDateReadeble(now)
                                          | &nbsp
                                        i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
                                    .action-body
                                      .form-group

                                        .row.action-row.choose-satus
                                          .col-sm-12
                                            .form-group
                                              select.form-control(name='status')
                                                option(value='0') Не выдан
                                                option(selected='', value='1') Выдан
                                        .row.action-row
                                          .col-sm-12
                                            label.col-sm-12(for='comment') Комментарий
                                            .form-group
                                              textarea.form-control(name='comment', id=comment)
                                        .row.action-row
                                          label.col-sm-12(for='') Введите ваш пин-код
                                          .col-sm-6
                                            .form-group
                                              input.form-control(type='password', name='yourpin')
                                        .row.action-row
                                          .col-sm-6
                                            button.btn.btn-done.btn-block(type='button', data-toggle='save-action', data-title= orders[i].goods[j].id) Сохранить
                                          .col-sm-6
                                            button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-action') Отмена
                    - else
                      .container
                        .panel.panel-default
                          .panel-body= "Товаров не найдено"
          - else
            .container
              .panel.panel-default
                .panel-body= "Заказов не найдено"
      .ayout-dark
      .modal-layout
      //- .modal-log
      //-   .modal-log-header
      //-     .log-info
      //-       .new-order-info-row
      //-         | Заказ:&nbsp
      //-         span.log-order 0001
      //-       .new-order-info-row
      //-         | История действий товара:&nbsp
      //-         span.log-product Название товара
      //-       i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //- .modal-log-body
        //-   ul.logs
        //-     li.log
        //-       .log-header
        //-         .log-info
        //-           .new-order-info-row
        //-             span.log-date 12.12.16
        //-             | &nbsp
        //-             span.log-time 12:00
        //-           .new-order-info-row
        //-             span.log-editor Иванов Иван Иванович
        //-           i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //-         .log-status
        //-           span.log-status-start Обработан
        //-           | &nbsp
        //-           i.fa.fa-long-arrow-right(aria-hidden='true')
        //-           | &nbsp
        //-           span.log-status-end Отменен
        //-       .log-body
        //-         p.log-text
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus nisi quasi inventore harum quam asperiores tempora molestiae temporibus. Molestias?
        //-     li.log
        //-       .log-header
        //-         .log-info
        //-           .new-order-info-row
        //-             span.log-date 12.12.16
        //-             | &nbsp
        //-             span.log-time 12:00
        //-           .new-order-info-row
        //-             span.log-editor Иванов Иван Иванович
        //-           i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //-         .log-status
        //-           span.log-status-start Обработан
        //-           | &nbsp
        //-           i.fa.fa-long-arrow-right(aria-hidden='true')
        //-           | &nbsp
        //-           span.log-status-end Отменен
        //-       .log-body
        //-         p.log-text
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus nisi quasi inventore harum quam asperiores tempora molestiae temporibus. Molestias?
        //-     li.log
        //-       .log-header
        //-         .log-info
        //-           .new-order-info-row
        //-             span.log-date 12.12.16
        //-             | &nbsp
        //-             span.log-time 12:00
        //-           .new-order-info-row
        //-             span.log-editor Иванов Иван Иванович
        //-           i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //-         .log-status
        //-           span.log-status-start Обработан
        //-           | &nbsp
        //-           i.fa.fa-long-arrow-right(aria-hidden='true')
        //-           | &nbsp
        //-           span.log-status-end Отменен
        //-       .log-body
        //-         p.log-text
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus nisi quasi inventore harum quam asperiores tempora molestiae temporibus. Molestias?
        //-     li.log
        //-       .log-header
        //-         .log-info
        //-           .new-order-info-row
        //-             span.log-date 12.12.16
        //-             | &nbsp
        //-             span.log-time 12:00
        //-           .new-order-info-row
        //-             span.log-editor Иванов Иван Иванович
        //-           i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //-         .log-status
        //-           span.log-status-start Обработан
        //-           | &nbsp
        //-           i.fa.fa-long-arrow-right(aria-hidden='true')
        //-           | &nbsp
        //-           span.log-status-end Отменен
        //-       .log-body
        //-         p.log-text
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus nisi quasi inventore harum quam asperiores tempora molestiae temporibus. Molestias?
        //-     li.log
        //-       .log-header
        //-         .log-info
        //-           .new-order-info-row
        //-             span.log-date 12.12.16
        //-             | &nbsp
        //-             span.log-time 12:00
        //-           .new-order-info-row
        //-             span.log-editor Иванов Иван Иванович
        //-           i.fa.fa-times-circle.close-action(aria-hidden='true', data-toggle='close-action')
        //-         .log-status
        //-           span.log-status-start Обработан
        //-           | &nbsp
        //-           i.fa.fa-long-arrow-right(aria-hidden='true')
        //-           | &nbsp
        //-           span.log-status-end Отменен
        //-       .log-body
        //-         p.log-text
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit delectus nisi quasi inventore harum quam asperiores tempora molestiae temporibus. Molestias?
        //- .modal-log-footer
        //-   .form-group
        //-     .row.action-row(style='width:300px')
        //-       label.col-sm-12(for='') Введите ваш пин-код
        //-       .col-sm-6
        //-         .input-group
        //-           input.form-control(type='password')
        //-           span.input-group-btn
        //-             button.btn.btn-pin(type='button')
        //-               i.fa.fa-check-circle(aria-hidden='true')
        //-       .col-sm-6.auth
        //-         | Авторизирован как
        //-         .auth-like Руководитель
        //-     .row.action-row
        //-       .col-sm-12
        //-         label(for='') Комментарий
        //-         textarea.form-control(name='', id='', cols='30', rows='6')
        //-     .row.action-row
        //-       .col-sm-2.col-sm-offset-4
        //-         button.btn.btn-cancel.btn-block(type='button', data-toggle='cancel-log') Отмена
        //-       .col-sm-2
        //-         button.btn.btn-done.btn-block(type='button', data-toggle='save-log') Сохранит
